<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <div id="app">
  </div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          atrr: "src",
          img: "https://picsum.photos/200/300",
          text: "<h1>hola mundo</h1>",
          simpleText: "hola mundo",
          counter: 0,
          evt: 'submit',
          firstName: "Danniel",
          lastName: "Navas",
          now: new Date(),
          open: false,
          door: 'la puerta esta abierta',
          styles: {
            backgroundColor: '#e5e5e5',
          },
          userName: '',
          posts: [
            {
              title: 'titulo 1',
              description: 'descripcion 1'
            },
            {
              title: 'titulo 2',
              description: 'descripcion 2'
            },
            {
              title: 'titulo 3',
              description: 'descripcion 3'
            }
          ]
        };
      },
      methods: {
        increment() {
          this.counter++;
        },
        submit(e) {
          // e.preventDefault();
          console.log("enviado", e);
        },
        input(e) {
          console.log("input", e);
          this.simpleText = e.target.value;
        }
      },
      // Separar codigo en las propiedades computadas ventaja son reactivas
      computed: {
        fullName() {
          return `${this.firstName} ${this.lastName}`;
        },
        today() {
          return this.now.toLocaleDateString();
        },
        stylesCom() {
          return {
            open: this.open,
            closed: !this.open
          }
        }
      },
      watch: {
        //no se puede realizar su uso desde el template
        // un watvher debe realizar una sola cosa si se necesita se puede llamar un method
        simpleText(newVal, oldVal) {
          console.log(newVal, oldVal);
        },

        open(value) {
          if(value) {
           this.door = 'la puerta esta abierta';
          //  this.styles.backgroundColor = '#b5e7a0';
          } else {
            this.door = 'la puerta esta cerrada';
            this.userName = '';
            // this.styles.backgroundColor = '#eca1a6';
          }
        }
      },
      // uso de v-text para pasar texto a mostrar por una varible
      // <h1 v-once v-text="text"></h1>

      // uso de v-html para pasar texto a mostrar por una varible pero este texto viene enriquesido con html
      //<div v-once v-html="text"></div>

      // uso de v-bind de forma fija
      // <img v-bind:src="img" v-bind:alt="img">

      // uso de v-bind de forma dinamica
      // <img v-bind:[atrr]="img">

      // uso de v-on para escuchar eventos todos los de js
      // <button v-on:keyup="increment">{{ counter }}</button>

      //<form v-on:submit.prevent.stop="submit">
      //   < button > {{ counter }}</button >
      // </form>

      //<form v-on:[evt]="submit">
      //   < button > {{ counter }}</button >
      // </form >

      // v-on se puede remplazar po @ y v-bind por : que el on es de eventos y el bind es de atributos

      // v-model es para enlazar un input con una variable de forma bidireccional reactiva

      template: `

          <h1 v-once v-text="text"></h1>
          <div v-once v-html="text"></div>
          <img v-bind:src="img" v-bind:alt="img">
          <img v-bind:[atrr]="img">
          <button v-on:keyup="increment">{{ counter }}</button>
          <form v-on:submit.prevent.stop="submit">
            <button>{{ counter }}</button>
          </form>
          <form v-on:[evt]="submit">
            <button>{{ counter }}</button>
          </form>

          <p>{{ simpleText }}</p>
          <input type="text" v-on:change="input">
          <input type="text" @input="input" :value="simpleText">
          <input type="text" v-model="simpleText">
          <br>
          <br>
          <br>
          <div>{{fullName}}</div>

          <div>{{today}}</div>
          <br>
          <br>
          <h2>watcher</h2>
          {{ simpleText }}
          <!--
             :style="styles"
            :class="['open']"
            :class="{'open': true}"
            :class="{'open': open, 'closed': !open}"
            -->
          <div class="container"  :class="stylesCom">
            <button @click="open = !open">{{open? 'cerrar': 'abrir'}}</button>
            <h2>{{ door }}</h2>
          </div>

          <div>
            <h2>Condicionales</h2>
            <div>{{door}}</div>
            <div v-if="open">
              <p>Hola {{userName}}</p>
            </div>
            <div v-else>
              <input type="text" v-model="userName">
            </div>
            <button @click="open = !open">
              <div v-if="!open">acceder</div>
              <div v-else>Salir</div>
            </button>
          </div>

          <div>
            <h2>listas</h2>
            <div>
              <div class="item" v-for="(item, index) in posts" :key="index">
                <h4>{{item.title}}</h4>
                <p>{{item.description}}</p>
              </div>
            </div>
        </div>


        <div>
            <h2>Componentes</h2>
            <div>
              <item class="item" v-for="(item, index) in posts" :key="index" :post="item" />
            </div>
        </div>
      `
    });


    app.component('item', {
      props: ['post'],
      template: `
        <div class="item">
          <h4>{{post.title}}</h4>
          <p>{{post.description}}</p>
        </div>
      `
    })

    const vm = app.mount('#app');
    console.log(vm);
  </script>
  <style>
    html,
    body {
      height: 100vh;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    #app,
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 300px;
    }

    button {
      margin-top: 24px;
      border: none;
      background-color: white;
      padding: 8px 24px;
      border-radius: 12px;
    }

    .closed {
      background-color: #eca1a6;
    }

    .open {
      background-color: #b5e7a0;
    }
  </style>
</body>
</html>
